* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
main {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 800px;
}

main > h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

main #search-form form {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
main #search-form input {
  width: 100%;
  flex: 1;
  height: 32px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  &::-webkit-input-placeholder {
    font-style: italic;
    padding-left: 10px;
  }
}
main #search-form button {
  background-color: #666671;
  color: white;
  border: none;
  width: 80px;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background-color: #6666717c;
    cursor: pointer;
  }
}
main #weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #weather-info .weather-data h2 {
  font-size: 18px;
  margin-bottom: 0.2rem;
}
main #weather-info .weather-data span {
  font-size: 3rem;
  font-weight: bold;
}
